<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/tweet.css') }}" />


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="pure-menu pure-menu-horizontal">
                <a href="{{ path('myTweet') }}" class="pure-menu-heading pure-menu-link">LOGO</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{{ path('myTweet') }}" class="pure-menu-link">Accueil</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tweets enregistrés</a></li>
                </ul>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
