{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}

{% for tweet in tweets %}
    <div class="pure-g">
    <div class="pure-u-1-3">  </div>
    <div class="pure-u-1-3"> <blockquote class="twitter-tweet">
            <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}"></a>
        </blockquote>
        <button class="save_tweet button-success pure-button" route="{{ path('saveTweet', {id: tweet.id_str }) }}">Enregistrer</button>

    </div>
    <div class="pure-u-1-3">  </div>

    </div>
{% endfor %}

    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}